[submodule "406-maze-project"]
	path = 406-maze-project
	url = https://github.com/sbeleidy/406-maze-project.git
[submodule "406-DP-Project"]
	path = 406-DP-Project
	url = https://github.com/sbeleidy/406-DP-Project.git
[submodule "406-AlgoBOWL"]
	path = 406-AlgoBOWL
	url = https://github.com/sbeleidy/406-AlgoBOWL.git
[submodule "billionaires_analysis"]
	path = billionaires_analysis
	url = git@github.com:sbeleidy/billionaires_analysis.git
[submodule "data-visualization-slides"]
	path = data-visualization-slides
	url = git@github.com:sbeleidy/data-visualization-slides.git
